/* Full width */
#WikiaRailWrapper,
.WikiaRail {
  display: none;
}

.WikiaPage {
  width: initial;
  margin: 0 5% 1em 5%;
  border: 1px solid #ccc;
  z-index: 1;
}

.WikiaMainContent,
.wds-community-header {
  width: 100%;
}

.ArticlePreviewInner {
  width: initial !important;
}

body {
  padding: 0 !important;
  color: black;
}

.WikiaPage {
  padding: 2em;
}

/* White, opaque background */
.WikiaPage,
#WikiaPageBackground {
  background: #F6F6F6 !important;
}

#WikiaPageBackground {
  opacity: initial !important;
}

body,
body::before,
body::after {
  background: #eee !important;
}

.background-image-gradient {
  display: none;
}

/* Always allow scrolling */
body {
  overflow-y: initial !important;
}

/* No floating navigation bar */
#globalNavigation {
  position: absolute;
}

/* Separate header from article */
.WikiaPage {
  padding-top: 1em;
  margin-top: 3em;
  border-top: 1px solid #ccc;
}

.wds-community-header + .WikiaPage {
  border-top: 1px solid #ccc;
}

/* Monobook-style headings */
.WikiaPage h1,
.WikiaPage h2,
.WikiaPage h3,
.WikiaPage h4,
.WikiaPage h5,
.WikiaPage h6,
.WikiaPage h1.page-header__title {
  color: black;
  font-weight: normal;
  margin: 0;
  overflow: hidden;
}

.WikiaPage h1,
.WikiaPage h1.page-header__title {
  font-size: 1.8em;
}

.WikiaPage h2 {
  font-size: 1.5em;
}

.WikiaPage h3 {
  font-size: 1.2em;
}

h3 .mw-headline {
  font-weight: bold;
}

.WikiaPage h1,
.WikiaPage h2 {
  line-height: 1.3em;
  font-family: "Linux Libertine","Georgia","Times",serif;
  padding: 0px;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.WikiaPage h3,
.WikiaPage h4,
.WikiaPage h5,
.WikiaPage h6 {
  line-height: 1.6em;
  margin-top: 0.3em;
  padding-bottom: 0;
}

.WikiaPage #toctitle h2 {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 0.9em;
}

#PageHeader {
  padding: 0.5em 0;
}

.WikiaPage .page-header__main {
  margin-bottom: -0.5em;
}

.WikiaPage h1.page-header__title {
  margin-top: 0;
  border-bottom: none;
  font-size: 2.2em;
}

.WikiaPage .page-header__subtitle {
  font-size: 0.75em;
  margin: 0;
  position: absolute;
  right: 0;
  bottom: 0;
}

.WikiaPage .page-header__separator {
  margin-bottom: 0.5em;
}

/* Remove categories under page title */
.WikiaPage .page-header__categories {
  display: none;
}

/* Remove the page subtitle */
.page-header__page-subtitle {
  display: none;
}

/* Monobook-style text */
body {
  font-family: sans-serif !important;
  font-size: 12px;
}

.WikiaArticle {
  font-size: 14px !important;
  color: #222 !important;
  line-height: 1.6em !important;
}

.WikiaArticle pre {
  line-height: 1.1em;
  font-size: 14px;
}

.WikiaArticle pre span {
  color: black !important;
  font-weight: initial !important;
}

/* Monobook-style lists */
.WikiaArticle ul {
  margin: 0.3em 0px 0px 1.6em;
}

.WikiaArticle dl {
  margin: 0.2em 0 0 0.5em;
}

.WikiaArticle dd {
  margin: 0 0 0 1.6em;
}

/* Monobook-style edit section */
.sprite.edit-pencil {
  display: none;
}

.editsection {
  float: right !important;
  font-family: sans-serif;
  margin-right: 0.5em;
  text-transform: lowercase;
}

.editsection::before {
  content: '['
}

.editsection::after {
  content: ']'
}

/* Adjust categories margins */
.article-categories {
  margin: 1em 0 0 0;
  padding: 0.3em;
}

/* Monobook-style contribution buttons */
.WikiaPage .page-header .wds-button svg,
.page-header__contribution-buttons .wds-dropdown__toggle,
.page-header__contribution-buttons .wds-dropdown::before,
.page-header__contribution-buttons .wds-dropdown::after {
  display: none;
}

.page-header__contribution-buttons .wds-button-group {
  display: inline;
}

.WikiaPage .page-header .wds-button {
  border: none;
  margin: 0;
  padding: 0;
  background: transparent;
  display: inherit;
  min-height: initial;
  vertical-align: baseline;
}

.WikiaPage .page-header .wds-button span {
  font-weight: initial;
  font-style: initial;
  text-transform: initial;
  line-height: initial;
  letter-spacing: initial;
}

.WikiaPage .page-header .wds-button:hover:not(:disabled) {
  background: transparent;
}

.WikiaPage .page-header .wds-button:hover:not(:disabled) > span {
  color: #0148C2;
}

.page-header__contribution-buttons .wds-dropdown__content,
.page-header__contribution-buttons .wds-dropdown:hover .wds-dropdown__content,
.page-header .wds-dropdown__content .wds-list.wds-is-linked > li > a {
  display: initial;
  position: initial;
  border: none;
  margin: 0;
  padding: 0;
  background: transparent;
}

.WikiaPage .page-header__contribution {
  position: absolute;
  margin: 0;
  width: 100%;
  display: inline;
  bottom: 4.3em;
  left: -2em;
}

.page-header__contribution-buttons .wds-dropdown__content .wds-list.wds-is-linked > li,
.WikiaPage .page-header .wds-button span {
  background: #F6F6F6;
  padding: 0.2em 0.6em;
  margin: 0 0.2em;
  border: 1px solid #ccc;
  font-size: 14px;
}

.WikiaPage .page-header .wds-button span {
  margin-left: -1px;
  margin-right: 0;
}

.page-header__contribution-buttons .wds-dropdown__content li,
.page-header__contribution-buttons .wds-dropdown__content li a {
  display: inline;
  margin: 0;
}

.WikiaPage .page-header__contribution-buttons .wds-dropdown__content:hover,
.WikiaPage .page-header__contribution-buttons .wds-dropdown__content .wds-list.wds-is-linked li:hover > a {
  background: transparent;
}

/* Remove language links */
.WikiaArticleInterlang,
.wds-dropdown.page-header__languages {
  display: none;
}

/* Remove category gallery */
.category-gallery {
  display: none;
}

/* Remove share button */
#ShareEntryPoint {
  display: none;
}

/* Remove discuss button */
a[data-tracking="discuss"] {
  display: none;
}

/* Remove bottom bar */
#WikiaBar {
  display: none;
}

/* Remove print footer */
.printfooter {
  display: none;
}

/* Remove ads */
#WikiaTopAds,
#top-right-boxad-wrapper,
#WikiaFooter {
  display: none !important;
}

/* Remove user profile box */
#UserProfileMasthead {
  display: none;
}

/* Color visited links */
a:visited {
  color: #003180;
}

/* Fix edit page */
.EditPage {
  background: initial;
  margin-top: 0.5em;
  border: 1px solid #ccc;
}

.EditPageHeader {
  height: initial;
  padding-left: 0;
  background: #F6F6F6;
  box-shadow: none;
  border-bottom: none;
}

.EditPageHeader > .wordmark {
  display: none;
}

.EditPageHeader h1,
.EditPageHeader h2 {
  float: none;
  display: inline;
  vertical-align: middle;
  line-height: 1.5em;
  font-size: 1.8em;
  margin: 0;
}

.EditPageHeader aside {
  display: none;
}

#EditPage.toolbar-expanded .EditPageToolbar {
  height: initial;
}

.EditPageToolbar,
.editpage-sourcewidemode.mode-source.editpage-sourcewidemode-on .EditPageToolbar {
  padding: 0;
  background: #e0e0e0;
}

.EditPageToolbar > .cke_toolbar_source {
  padding: 0 0.2em 0.2em 0.5em;
}

.EditPageEditorWrapper {
  padding: 0;
}

.EditPageEditor.noFooter {
  margin: 0;
}

.EditPageEditor.noFooter .editpage-editarea {
  border: none;
}

.editpage-widemode-trigger {
  background: #e0e0e0;
}

.EditPageRail {
  box-shadow: none;
}

/* Move page controls to bottom */
.editpage-sourcewidemode.mode-source.editpage-sourcewidemode-on {
  display: flex;
  flex-direction: column;
}

.editpage-sourcewidemode.mode-source.editpage-sourcewidemode-on .EditPageRail {
  order: 2;
  position: initial;
  height: auto !important;
  padding: 0.5em;
  background: #e0e0e0;
  border-top: 1px solid #ccc;
}

.editpage-sourcewidemode.mode-source.editpage-sourcewidemode-on .EditPageRail .module_page_controls .module_content {
  padding: 0;
}

.EditPage .module_page_controls .checkboxes > label,
.editpage-sourcewidemode.mode-source.editpage-sourcewidemode-on .EditPageRail .module_page_controls .module_content .preview_box h3,
#EditPage.toolbar-expanded .diff-link,
#EditPage.toolbar-expanded #wpSave {
  font-size: 0.8em;
}

#EditPage.toolbar-expanded .preview-header,
.editpage-sourcewidemode.mode-source.editpage-sourcewidemode-on .EditPageRail .module_page_controls .module_content .preview_box h3,
.editpage-sourcewidemode.mode-source.editpage-sourcewidemode-on .EditPageRail .module_page_controls .module_content .preview_box,
.editpage-sourcewidemode.mode-source.editpage-sourcewidemode-on .EditPageRail .module_page_controls .module_content .buttons,
.editpage-sourcewidemode.mode-source.editpage-sourcewidemode-on .EditPageRail .module_page_controls .module_content .wpSummaryFields,
.editpage-sourcewidemode.mode-source.editpage-sourcewidemode-on .EditPageRail .module_page_controls .module_content .checkboxes,
.editpage-sourcewidemode.mode-source.editpage-sourcewidemode-on .EditPageRail .module_page_controls .module_content .checkboxes span,
.editpage-sourcewidemode.mode-source.editpage-sourcewidemode-on .EditPageRail .module_page_controls .module_content .checkboxes label:only-child,
.editpage-sourcewidemode.mode-source.editpage-sourcewidemode-on .EditPageRail .module_page_controls .module_content .checkboxes label:only-child input {
  float: none;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.editpage-sourcewidemode.mode-source.editpage-sourcewidemode-on .EditPageRail .module_page_controls .module_content #wpSummary {
  width: 30em;
  height: initial;
  margin: 0;
  padding: 0.5em;
  border-radius: 0;
}

.editpage-sourcewidemode.mode-source.editpage-sourcewidemode-on .EditPageRail .module_page_controls .module_content .checkboxes {
  margin: 0.3em;
}

.editpage-sourcewidemode.mode-source.editpage-sourcewidemode-on .EditPageRail .module_page_controls .module_content .checkboxes span {
  width: initial;
  line-height: 1.5em;
  color: initial;
}

.EditPage .module_page_controls .checkboxes > label input {
  height: 1.5em;
  margin: 0;
}

.editpage-sourcewidemode.mode-source.editpage-sourcewidemode-on .EditPageRail .module_page_controls .module_content .preview_box {
  height: auto;
  padding: 0;
}

#EditPage.toolbar-expanded .preview_mobile,
#EditPage.toolbar-expanded .preview_desktop,
.editpage-sourcewidemode.mode-source.editpage-sourcewidemode-on .EditPageRail .module_page_controls .module_content .preview_box .preview_mobile,
.editpage-sourcewidemode.mode-source.editpage-sourcewidemode-on .EditPageRail .module_page_controls .module_content .preview_box .preview_desktop {
  float: none;
  display: inline-block;
  vertical-align: bottom;
  padding: 0;
  margin: 0 0.2em;
}

.editpage-sourcewidemode.mode-source.editpage-sourcewidemode-on .EditPageRail .module_page_controls .module_content .preview_box .preview_mobile svg,
.editpage-sourcewidemode.mode-source.editpage-sourcewidemode-on .EditPageRail .module_page_controls .module_content .preview_box .preview_desktop svg {
  display: inline-block;
  height: 1em;
}

#EditPage.toolbar-expanded .diff-link,
.editpage-sourcewidemode.mode-source.editpage-sourcewidemode-on .EditPageRail .module_page_controls .module_content .diff-link {
  display: inline-block;
  vertical-align: bottom;
  width: initial;
  line-height: 1.5em;
  margin: 0 0.5em;
}

#EditPage.toolbar-expanded #wpSave,
.editpage-sourcewidemode.mode-source.editpage-sourcewidemode-on .module_page_controls .control-button {
  background: none;
  border: none;
  width: initial;
  height: initial !important;
  line-height: 1.5em;
  margin: 0 0.2em;
  padding: 0;
}

/* Prevent dynamic resizing of editor */
#editarea textarea {
  height: auto !important;
}

/* Hide edit toolbar */
.EditPageToolbar {
  display: none;
}
